.container {
  max-width: 960px;
}

.main-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  line-height: 1;
}

.main-header btn {
	margin: 3px
}

.main-header-logo {
  font-family: "Playfair Display", Georgia, "Arial", san-serif;
  font-size: 2.25rem;
  color: #999;
  transition: ease-in-out color .15s;
}

.main-header-logo:hover {
  color: #fff;
  text-decoration: none;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 1px solid #000000;
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.site-footer {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  margin-top: 30px
}

.site-footer ul {
  list-style-type: none;
}

.site-footer .f-wrap {
  width: 960px;
  height: 70px;
}

.site-footer .f-wrap a {
  display: inline-block;
  font-size: 15px
}

/*.hidden-menu { 
  position:absolute; 
  z-index:10000; 
  width:100%; 
  height:242px; 
  overflow:hidden; 
  display:none; 
  background:#fff;
  border-top:1px solid #ddd; 
  border-bottom:1px solid #ddd;
}

.hidden-menu .menu-list {
  margin_left: 450px;
  width: 135px;
  float: left;
}

.hidden-menu .menu_list ul{
  list-style: none;
}

.hidden-menu .menu_list li {
  padding: 20px 0;
}

.hidden-menu .menu_list li a {
  color: #999;
  transition: ease-in-out color .15s;
}

.hidden-menu .menu_list li a:hover {
  color: #fff;
  text-decoration: none;
}*/

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 140px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(0, 0, 0, .85);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
}

/* The navigation menu links */
.sidenav a {
  padding: 15px 8px 8px 5px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #fff;
}

.product_main {
  margin-left: 140px; /* Same as the width of the sidebar */
  overflow: hiddn;
  padding: 0px 10px;
  border-bottom: 2px solid #000000;
}

.product_main h1 {
  text-align:center;
  width:100%;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis; // This is where the magic happens
}

.product_main table {
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: auto;
  width: 100%; 
}

.product_main table th {
  border: 1px solid black;
}

.product_main table td {
  border: 1px solid black;
}

.product_main table a {
  font-family: Arial, sans-serif;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  background-color: #6691FF;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  max-width: 800px;
  margin-left: 200px;
}

.nav-scroller .nav a {
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
 
.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
